.flaglist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(#000, 0.5);
  padding: 0.5rem 0.5rem;
  width: 21.25rem;

  @include breakpoint("tablet") {
    width:auto
  }

  > li {
    // background-color: red;
    padding: 0.333rem 0.5rem 0.125rem 0.5rem;
  }
}

.flag {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 0.3666rem;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 2.75rem;
  &:hover,
  &:focus {
    color: $cl-primary;
  }
  img {
    display: block;
    margin: 0 auto 0.25rem;
    width: inherit;
  }
}

.chl {
    display:none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(#000, 0.5);
  color: #fff;
  margin: 0 0 0.5rem 0;
  line-height: 2.25;
  align-self: center;

  @include breakpoint("tablet") {
    margin: 0 0.5rem 0 0;
    display:inline-block;
  }

  img {
    margin-right: 0.5rem;
    width: 2.125rem;
  }
}
